{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staplesfast | Login </title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="shortcut icon" href="{% static 'images/staplesfast_favicon.png' %}" type="image/x-icon">

    <script src="https://kit.fontawesome.com/5a01f232c4.js" crossorigin="anonymous"></script>
</head>
<body>
       <div class="navbar">
           <a href="{% url 'core:index' %}"><img class="brand-name" src="{% static 'images/logo.png' %}" alt="Logo Png"></a>
        <div class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
         <div class="navbar-links2">
            <ul>
                <a href="{% url 'core:index' %}"> <li>HOW IT WORKS</li></a>
                <a href="{% url 'account_signup' %}"> <li>REGISTER</li></a>
                <a href="#" id="js-header-buy-btn"> <li>BUY NOW</li></a>
                <div class="login-divs">
                    <a href="{% url 'account_login' %}"><li class="navigation-link navigation-login-button">LOGIN</li></a>
                </div>
            </ul>
        </div>
        <div class="navbar-links">
            <ul>
               <a href="{% url 'core:index' %}"> <li>HOW IT WORKS</li></a>
                <a href="{% url 'account_signup' %}"> <li>REGISTER</li></a>
                <a href="#" id="js-header-buy-btn"> <li>BUY NOW</li></a>
                <li class="navigation-link navigation-login-left-div">dsd</li>
                <a href="{% url 'account_login' %}" class="navigation-link navigation-login-button">LOGIN</a>
            </ul>
        </div>
    </div>
    
    <div class="login-page-div">
        
    <form action="{% url 'account_login' %}" method="post">
        {% csrf_token %}
        <div class="login-div">
        <div class="login-div-text">
        <h1 class="login-text">LOGIN</h1>
        </div>

        <div class="input-data">
        <div class="email-div">
            <div>
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
       <!-- <p class="email-heading">Email</p>-->
        <input type="email" class="email-field" name="{{ form.login.html_name }}" value="{{ form.login.value|default:'' }}" placeholder="Enter your email" required>
        </div>
         <div class="password-div">
       <!-- <p class="email-heading">Password</p>-->
        <input type="password" class="email-field" name="{{ form.password.html_name }}" value="{{ form.password.value|default:'' }}" placeholder="Enter your password" required>
        </div>
         </div>
          </div>

          <div class="forgot-password">
              <div class="checkbox-div">
                  <input type="checkbox" class="checkbox" name="{{ form.remember.html_name }}" value="{{ form.remember.value|default:'' }}">
                   <p class="keep-me-login-text">
                Keep me logged in
              </p>
              </div>


              <div class="forgot-password-div">
                <a href="{% url 'account_reset_password' %}" class="forgot-pass-text">Forgot Password?</a>
              </div>
          </div>

          <div class="button-div">
                    <button class="login-button">Login</button>
                </div>

                <div class="dont-div">
                    <p class="dont-you-text">Don't Have an Account?</p>
                    <a href="{% url 'account_signup' %}" class="register">Register</a>
                </div>
    </form>

                <div class="form-div">
        <div class="first-div">
            <div class="contact-info">
                <div class="social-icons-div">

                    <div class="icons"><i class="fa fa-facebook-f"></i></div>
                    <div class="icons"> <i class="fa fa-twitter"></i></div>
                    <div class="icons"> <i class="fa fa-instagram"></i></div>


                </div>

                <div class="link-pages">
                    <a href="#" class="faq-page">FAQ</a>
                    <a href="#" class="faq-page">LEGAL</a>
                    <!-- Shopify But Button's div but it wont appear as display is none -->
                    <div id='product-component-1591813487900' style="display: none"></div>
                </div>
            </div>

        </div>
        <div class="second-div">
             <p class="copyright-text">Copyright © 2020 staplesfast.com Inc. All rights reserved. </p>
        </div>
    </div>
          </div>
       <script>
        const toggleButton = document.getElementsByClassName('toggle-button')[0]
        const navbarLinks = document.getElementsByClassName('navbar-links2')[0]

        toggleButton.addEventListener('click', () => {
            navbarLinks.classList.toggle('active')
        })
    </script>
    <script type="text/javascript" src="{% static 'js/authPagesClickButton.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/shopifyBuyButton.js' %}"></script> <!-- Shopify Buy Button -->
</body>
</html>