<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Staplefast | Payment</title>
      <link rel="shortcut icon" href="./assets/staplesfast_favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="payment.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
      <div class="navbar">
        <img class="brand-name" src="assets/logo.png" alt="">
        <div class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
         <div class="navbar-links2">
            <ul>
                <a href="#"> <li>HOW IT WORKS</li></a>
                <a href="register.html" target="_blank"> <li>REGISTER</li></a>
                <a href="payment.html" target="_blank"> <li>BUY NOW</li></a>
                <div class="login-div">
               <a href="login.html" target="_blank">  <li class="navigation-link navigation-login-button">LOGIN</li></a>
            
</div>
            </ul>
        </div>
        <div class="navbar-links">
            <ul>
               <a href="#"> <li>HOW IT WORKS</li></a>
               <a href="register.html" target="_blank">  <li>REGISTER</li></a>
                <a href="payment.html" target="_blank"> <li>BUY NOW</li></a>
                
                <li class="navigation-link navigation-login-left-div">dsd</li>
            <a href="login.html" class="navigation-link navigation-login-button" target="_blank">LOGIN</a>

            </ul>
        </div>
    </div>


    <div class="wrapper">
        <div class="payment-text-div">
            <h1 class="payment-text">PAYMENT METHOD</h1>
        </div>

        <div class="details-div">
            <div class="forgot-password">
                <div class="checkbox-div">
                    <input type="radio" class="radio">
                    <p class="keep-me-login-text">
                        Credit & Debit Cards
                    </p>
                </div>


                <div class="forgot-password-div">
                    <p class="forgot-pass-text"><i class="fa fa-cc-visa"></i></p>
                    <p class="forgot-pass-text"><i class="fa fa-cc-mastercard"></i></p>
                </div>
            </div>

            <div class="input-data">
                <div class="email-div">

                    <input type="text" class="email-field" placeholder="Enter cardholder name">



                    <input type="text" class="email-field" placeholder="Enter card number">

                </div>
            </div>

            <div class="select-div">

                <select class="month">
                    <option>Month</option>
                    <option value="January">January</option>
                    <option value="Febuary">Febuary</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select>
                <select class="year">
                    <option>Year</option>
                    <option value="2018">2018</option>
                    <option value="2018">2019</option>
                    <option value="2018">2020</option>
                    <option value="2018">2021</option>
                    <option value="2018">2022</option>
                    <option value="2018">2023</option>
                    <option value="2018">2024</option>
                    <option value="2018">2025</option>
                    <option value="2018">2026</option>
                    <option value="2018">2027</option>
                    <option value="2018">2028</option>
                    <option value="2018">2029</option>
                    <option value="2018">2030</option>
                    <option value="2018">2031</option>
                    <option value="2018">2032</option>
                    <option value="2018">2033</option>
                    <option value="2018">2034</option>
                    <option value="2018">2035</option>
                    <option value="2018">2036</option>
                    <option value="2018">2037</option>
                    <option value="2018">2038</option>
                    <option value="2018">2039</option>

                </select>


                <div class="cvv-div">
                    <input type="password" class="cvv" placeholder="CVV" maxlength="3">
                    <div class="info-circle"> <i class="fa fa-info-circle"></i></div>
                    <p>3 digits</p>
                </div>
            </div>


            <div class="checkbox-div2">
                <input type="checkbox" id="checkbox">
                 <label for="checkbox"><p class="keep-me-login-text">
                    I have read and accept the terms of use and privacy policy
                </p>
                </label>
  

                
            </div>

            <div class="button-div">
                <button class="login-button">Pay Now</button>
            </div>
        </div>

        <div class="forgot-passwords">
            <div class="checkbox-div3">
                <input type="radio" class="radios3" name="payment" value="paypal">
                <p class="keep-me-login-text">
                    Paypal
                </p>
            </div>


            <div class="forgot-password-div">
                <p class="forgot-pass-texts"><i class="fa fa-cc-paypal"></i></p>

            </div>
        </div>

        <div class="forgot-passwords">
            <div class="checkbox-div3">
                <input type="radio" class="radios2" name="payment" value="bitcoin">
                <p class="keep-me-login-text">
                    Bitcoin
                </p>
            </div>


            <div class="forgot-password-div">
                <p class="forgot-pass-text2"><i class="fa fa-bitcoin"></i></p>
            </div>
        </div>

        <div class="forgot-passwords">
            <div class="checkbox-div3">
                <input type="radio" class="radios" name="payment" value="interac">
                <p class="keep-me-login-text">
                    Interac e-transfer
                </p>
            </div>


            <div class="forgot-password-div">
                <img src="interac.jpg" alt="" class="interac">

            </div>
        </div>




        <div class="form-div">
            <div class="first-div">
                <div class="contact-info">
                    <div class="social-icons-div">

                        <div class="icons"><i class="fa fa-facebook-f"></i></div>
                        <div class="icons"> <i class="fa fa-twitter"></i></div>
                        <div class="icons"> <i class="fa fa-instagram"></i></div>


                    </div>

                    <div class="link-pages">
                        <a href="#" class="faq-page">FAQ</a>
                        <a href="#" class="faq-page">LEGAL</a>
                    </div>
                </div>

            </div>
            <div class="second-div">
                <p class="copyright-text">Copyright © 2020 staplesfast.com Inc. All rights reserved. </p>
            </div>
        </div>
    </div>


      <script>
        const toggleButton = document.getElementsByClassName('toggle-button')[0]
        const navbarLinks = document.getElementsByClassName('navbar-links2')[0]

        toggleButton.addEventListener('click', () => {
            navbarLinks.classList.toggle('active')
        })
    </script>

</body>

</html>